body {
  box-sizing: border-box;
}
.home_page {
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/2bd58e59ad103fafc277db8654ccf2a5/photo-1647305169623-d3258683199e.jpg");
  background-repeat: repeat-x;
  background-origin: border-box;
  width: 100%;
  height: 100%;
}
